/*Imagen de fondo*/
body{    
    background-image:url("/img/fondo.jpeg");
    background-repeat: no-repeat;
    background-size: 100% 100%;

}
/*Navbar de la pagina*/
.navbar{
    background-color: #6ADEA6;
    box-shadow: 0 0 6px 0 rgb(100, 97, 97);
    display: flex;

}
/*Estilo a cada etiqueta a*/
a {
    text-decoration: none;
    padding-top: 20px;
}

/*Padding a LOGO*/
.logo{
    padding-left: 40px;

}

/*Estilos al h1 llamado LOGO*/
.logo > h1{
    color: white;
    font-family: Modak;
    font-weight: 1000;
    font-size: 40px;
}

/*Opciones del lado derecho, Recetas, Ingredientes, Acerca de */
.opciones > a{    
    padding-right: 50px;
    color: #157145;
    font-family: Modak;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 108px;
}

/*H1 con la imagen, debajo del navbar*/
.contenedor{
    display: flex;
    
    flex-direction: column;
}

/*ETIQUETA H3*/
.h3{
    padding-top: 20px;
    padding-left: 40px;
    color: #157145;
    font-weight: 900;
    font-size: 50px;
    line-height: 160%;
}

/*Parrafo debajo del h3*/
.p1{
    font-family: Kadwa;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    padding-left: 40px;
}

/*Clase general de los inputs*/
.inputs{
    display: flex;
    margin-left: 3%;    
}

/*Input para buscar receta*/
input {
    border: 2px solid #35D789;
    border-radius: 20px;
    background-image: url('../img/search.svg');
    background-position: 15px 14px; 
    background-repeat: no-repeat;
    padding: 10px 400px 10px 40px;
    margin-right: 5%;
}

/*Placeholder del input*/
input::placeholder{
    color: #157145;
    }

/*Clase del boton para buscar random*/
.bRandom{
    display:flex;
    border-radius: 20px;
    align-items: center;
    width: 16%;
    background-color: transparent;
    border: 2px solid #35D789;
    color: #157145;
}

/*Lupa que está en el input*/
.bRandom > img{ 
    width: 15%;
    margin-left: 2%;
    margin-top: 1%;
    padding-right: 10px;
}

.contenedor > h6{
    padding-top: 20px;
    font-weight: bold;
    
}

.instruccion{
    display:flex;
    padding-top: 15px;
    align-items: center;
    padding-left: 25%;
}
.uno > img, .dos > img, .tres > img{
    width: 20%;
}

.uno > p, .dos > p, .tres > p{
    padding-right: 50%;
    text-align: left;
}

