@import url('https://fonts.googleapis.com/css2?family=Pridi:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@900&display=swap');

body{
  margin: 0;
  padding: 0 !important;
}

.navbar {
  background-color: #6adea6;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  height: 15%;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.336);
}

.navbar h1{
  color: white;
  font-weight: bolder;
  margin-left: 80px;
}

.navbar form{
  margin-right: 100px;
}

.navbar input{
  text-decoration: inherit;

}

.inPBtn{
  display: flex;
  align-items: center;
  padding-bottom: 16px;
  
}

.input-busqueda{
  border: 2px solid #35d789;
  border-radius: 20px;
  background-image: url("../assets/images/search.svg");
  background-position: 12px 11px;
  background-repeat: no-repeat;
  padding: 10px 20px 10px 32px;
  font-size:15px;
  line-height:5px;
  font-weight:500;
  margin-top: 20px;
  width: 65%;
  
}

.btn-Random{
  display:flex;
  border-radius: 10px;
  width: 15%;
  background-color: #35D789;
  border: 2px solid #2c7c55;
  color: #142b1f;
  margin-top: 21px;
  padding-top: 3px;
  padding-left: 3px;
  cursor: pointer;
  
}

.logo{
  color: white;
}

.search-title{
  font-size: 14px;
}

.meal-results{
  width: 80%;
  display: flex; 
  flex-direction: column;
  margin: 75px 100px 0 80px;
  /* align-items: center; */
  /* justify-content: center; */
}

.results-title{
  padding-top: 20px;
  color: #157145;
  font-family: Catamaran;
  font-weight: bold;
  font-size: 2em;
}

/* CONTENEDOR DE LOS RESULTADOS */
.meals{
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.meals a{
  text-decoration: inherit;
}

/* CONTENEDOR DEL CARD */
.meal-item{
  transition: 0.3s;
  border-radius: 5px;
}

/* IMAGEN DEL CARD */
.meal-item img{
  width: 100%;
  border-radius: 5px 5px 0 0;
}

.meal-item:hover {
  /* border: solid 1px #35d789; */
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.meal-name {
  margin-top: -10px;
  padding: 2px 16px;
}

.meal-name{
  padding: 10px 5px;
  color: #363537;
  font-size: 12px;
  font-family: 'Pridi', serif;
}

/*Footer*/
.page-footer {
  background-color: #157145;
}

/*Estilos a los nombres de los integrantes*/
.integrantes {
  padding-left: 10%;
  color: #fff;
}
.sug_recetas {
  margin-top: 5%;
  margin-bottom: 3%;
}
.page-footer {
  display: flex;
  justify-content: space-around;
  margin-top: 8rem;
  width: 100%;
}

@media (min-width: 551px) and (max-width: 780px) {
  .meals{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

}
 
@media (max-width: 550px){

  .meals{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }

  .inPBtn{
    padding-left: 22px;
  }
  .btn-Random{
    width: 40px;
  }

}