/*Imagen de fondo*/
body{    
    background-image:url("../assets/images/fondo.jpeg");
    background-repeat: no-repeat;
    background-size: 100%;
    padding-left: 0 !important;
    padding-right: 0 !important;
    width: 100% !important;
}
/*Navbar de la pagina*/
.navbar{
    background-color: #6ADEA6;
    display: flex;
    position: fixed;
    top: 0; 
    width: 100%;
    z-index: 1;
}
/*Estilo a cada etiqueta a*/
a {
    text-decoration: none;
    padding-top: 20px;
}

/*Padding a LOGO*/
.logo{
    padding-left: 40px;

}

/*Estilos al h1 llamado LOGO*/
.logo > h1{
    color: white;
    font-family: Modak;
    font-weight: 1000;
    font-size: 40px;
    
}

/*Opciones del lado derecho, Recetas, Ingredientes, Acerca de */
.opciones > a{    
    padding-right: 50px;
    color: #157145;
    font-family: Modak;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 70px;
}

/*H1*/
.contenedor{
    display: flex;
    flex-direction: column;
    padding-left: 0 !important;
    padding-right: 0 !important;
    width: 100% !important;
}
/* Imagen bajo la navbar*/
.comida {
    max-width: 50%;
    margin: auto;
    margin-left: 20%;
}

/*ETIQUETA H3*/
.h3{
    padding-top: 120px;
    padding-bottom: 20px;
    padding-left: 40px;
    color: #157145;
    font-weight: 900;
    font-size: 50px;
    line-height: 160%;
}

/*Parrafo debajo del h3*/
.p1{
    font-family: Kadwa;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    padding-left: 40px;
    padding-bottom: 60px;
}

/*Clase general de los inputs*/
.inputs{
    display: flex;
    margin-left: 3%;    
}

/*Input para buscar receta*/
input {
    border: 2px solid #35D789;
    border-radius: 20px;
    background-image: url('../assets/images/search.svg');
    background-position: 15px 14px; 
    background-repeat: no-repeat;
    padding: 10px 400px 10px 40px;
    margin-right: 5%;
}

/*Placeholder del input*/
input::placeholder{
    color: #157145;
    }

/*Clase del boton para buscar random*/
.bRandom{
    display:flex;
    border-radius: 20px;
    align-items: center;
    width: 16%;
    background-color: #35D789;
    border: 2px solid #35D789;
    color: #157145;
}

/*img random que está en el input*/
.bRandom > img{ 
    width: 15%;
    margin-left: 2%;
    margin-top: 1%;
    padding-right: 10px;
}

/*h6 debajo de los input*/
.th6{
    padding-top: 70px;
    padding-left: 40px;
    font-family: Kadwa;
    font-style: normal;
    font-weight: 900;
    font-size: 25px;
    line-height: 90px;
    color: #157145;
    
}

/*div con las imagenes en cicrulo y descripcion*/
.instruccion{
    display:flex;
    height: 230px;
    justify-content: center;
    padding-left: 0 !important;
    padding-right: 0 !important;
    width: 100% !important;
}

/*Tamaño de las imagenes*/
.uno,.dos,.tres{
    margin-left: 10%;
    width:30%;
}
.uno > img, .dos > img, .tres > img{
    width: 40%;
    margin-left:5%;
}

/*Parrafos debajo de las imagenes*/
.uno > p, .dos > p, .tres > p{
    width:50%;
    font-family: Pridi;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 37px;
    text-align: center;
    color: #000000;
}

/*h6 de prrueba nuestras sugerencias*/
.th6-2{
    margin-top: 50px;
    padding-top:20px;
    padding-left: 40px;
    font-family: Kadwa;
    font-style: normal;
    font-weight: 900;
    font-size: 25px;
    line-height: 90px;
    color: #157145;
}

/*Listado de sugerencias de recetas*/
.cuadrado{
    width: 80%;
    height: 240px;
    background-color: #9DE5B6;
    
}

/*Centrando carousel*/
.carousel{
    padding-left: 20%;
}

/*Centrando parrafo del carousel*/
.carousel-item > p{
    padding-left: 35%;
    padding-top: 10px;
}

/*h6 de prrueba nuestras sugerencias*/
.th6-3{
    padding-top: 20px;
    padding-left: 40px;
    font-family: Kadwa;
    font-style: normal;
    font-weight: 900;
    font-size: 25px;
    line-height: 90px;
    color: #157145;
}

/*Div de los circulos*/
.ingredientes-tips{
    display: flex;
    text-align: center;
    justify-content: space-around;
    padding-bottom: 100px;
}

/*Creacion de los circulos en los ingredientes*/
.circulo {
    width: 100px;
    height: 100px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #6ADEA6;
}

/*Footer*/
.page-footer{
    background-color: #157145;
}

/*Display flex a los div del footer*/
.page-footer{
    display: flex;
}

/*Estilos a los nombres de los integrantes*/
.integrantes{
    padding-left: 10%;
    color: #fff;
}